body {
  margin: auto;
  max-width: 64rem;
}



  nav {
    
    margin: auto;
    li {
      width: 10%;
    }
  }

  // div.headerWrapper {
    
  // }

  header {
    
    margin: auto;
  } 

  div.cardsDiv:nth-child(1) {
    background-image: url(../images/card1.jpg);
    width: 25%;
  }

  
  div.cardsDiv:nth-child(2) {
    background-image: url(../images/card2.jpg);
    width: 25%;
  }

  
  div.cardsDiv:nth-child(3) {
    background-image: url(../images/card3.jpg);
    width: 25%;
  }

  
  div.cardsDiv:nth-child(4) {
    background-image: url(../images/card4.jpg);
    width: 25%;
  }


  main {
    margin: auto;
    
  }

  .attourney {
    padding: 2%;
  }