  nav {
    button {display: none;}
    ul.hide {
      display: block;
    }
    li {
      width: 15%;
    }
  }

  div.flexed {display: flex; flex-wrap: wrap;}

  @for $i from 1 through 12 {
          $w:($i / 12) * 100%;
          .medium-#{$i} {flex-basis: $w;}	
  } // end loop

  h2 {
    padding: 2%;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
  }



  div.cardsDiv {
    margin-bottom: 0;
  }

  div.cardsDiv a {
    display: block;
    width: 100%;
    height: 300px;
    text-decoration: none;
    padding: 0 2%;
    transition: all .5s ease-in;
  }

  div.cardsDiv:nth-child(1) {
    background-image: url(../images/card1.jpg);
    width: 50%;
  }

  
  div.cardsDiv:nth-child(2) {
    background-image: url(../images/card2.jpg);
    width: 50%;
  }

  
  div.cardsDiv:nth-child(3) {
    background-image: url(../images/card3.jpg);
    width: 50%;
  }

  
  div.cardsDiv:nth-child(4) {
    background-image: url(../images/card4.jpg);
    width: 50%;
  }
